html, body {
    padding: 0;
    margin: 0;
    width: 400px;
    height: 500px;
    font-family: '微软雅黑', 'Helvetica Neue', sans-serif, SimHei;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

body.dimmer:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 98;
}

#header {
    font-size: 16px;
    color: #000;
    height: 40px;
    line-height: 40px;
    position: relative;
    background: #FFF;
    padding: 0 10px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

#header .welcome {
    float: right;
    height: 100%;
    position: relative;
    font-size: 14px;
    font-weight: normal;
}

#header .welcome > a {
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    margin-top: 4px;
}

#projects, #share {
    overflow: auto;
    height: 420px;
}

/* footer and tabs */
#footer {
    height: 40px;
    -webkit-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.2);
}

#footer .tabs {
    height: 40px;
    font-size: 16px;
    position: relative;
}

#footer .tabs .tab-item {
    display: inline-block;
    width: 33%;
    height: 100%;
    vertical-align: top;
    float: left;
    box-sizing: border-box;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

#footer .tabs .tab-item.active {
    border-bottom: 2px solid #4db0f4 !important;
}

#footer .tabs .tab-item:hover {
    border-bottom: 2px solid #EEE;
}
